* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 25em;
}
.nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.bg-blue{
    background-color:#1f2937;
}

.container.bg-blue{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: 5em 0 10em 0;
}



.container.bg-blue .text-container h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container.bg-blue .text-container p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 0.5em;
}

.container.bg-blue .text-container button{
    font-size: 18px;
    font-weight: 700;
    color: #E5E7EB;
    background-color: #3882F6;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.4em;
}

.container.bg-blue .img{
    width: 35em;
    height: 230px;
    background-color: #6d747e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}




.nav .logo{
    font-size: 24px;
    font-weight: 900;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header-link{
    color: white;
    font-size: 18px;
}

